body{
	margin:0px;
	background-image: url("imagess/bg.png");
	background-repeat: repeat;
	background-attachment: fixed;

}
#navbar{
	position: fixed;
    top:0;
	z-index: 10;
	height: 15vmin;
	width: 100vw;
	/*background-color: #000024;*/
	margin:0px 0px 0px 0px;
	box-shadow: 0px 0.2vmin 3vmin #00fffc;
	background: radial-gradient(ellipse,#121243,#121223);
	background: -moz-radial-gradient(ellipse,#121243,#121223);
	background: -ms-radial-gradient(ellipse,#121243,#121223);
	background: -webkit-radial-gradient(ellipse,#121243,#121223);
	background: -o-radial-gradient(ellipse,#121243,#121223);
}

#navlogo{
	position: relative;
	float: left;
	top: 4vmin;
	left: 4vmin;
	width: 14vmin;
	height: auto;
}

#navitems{
	position: relative;
	top: 3vmin;
	float:right;
	font-size: 2.5vmin;
	justify-content: center;
}

ul{
    list-style: none;   
}

#navitems li{
	float:left;
	padding-right: 5vmin;
}

#navitems a:hover{
	color: #121280;
	text-shadow: 1px 1px white;
}

#navitems a{
	text-decoration: none;
	color: #00fffc;
	text-shadow: 1px 1px white;
}

#content h1{
    margin-top: 17vmin;
    font-size: 7vmin;
	color: #121299;
	text-shadow: 2px 2px #808099;
}

#content h1::after
{
	content: '';
	background: #007bff;
	display: block;
	height: 2px;
	width: 20vw;
	margin: 20px auto 5px;
	box-shadow: 1px 0.5vmin 1vmin white;
}

#about{
    width:auto;
	height: auto;
	background-color: #020220;
	box-shadow: 0px 0.2vmin 1vmin #00fffc;
	max-width: 90vw;
    position: relative;
    left:5vw;
    margin-top: 5vmin;
}

#about h2{
    font-size: 4vmin;
	display: block;
	color: rgb(83, 83, 219);
	text-shadow: 1px 1px #c5b5b5;
	position: relative;
	top: 15%;
    text-align: center;
    padding-bottom: 2vmin;
    padding-top: 7vmin;
}

#about h2::after
{
	content: '';
	background: #007bff;
	display: block;
	height: 2px;
	width: 20vw;
	margin: 20px auto 5px;
	box-shadow: 1px 0.5vmin 1vmin white;
}

#about p{
    font-size: 3vmin;
	text-align: justify;
	line-height: 5vmin;
    color: rgb(145, 145, 145);
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 7vmin;
}

#events{
	margin-top: 10vmin;
	margin-bottom: 10vmin;
	border-top: 2px outset #55c;
	border-bottom: 2px outset #55c;
	color: white;
	z-index: 5;
	padding-left: 7vw;
	padding-right: 7vw;
	height: auto;
	margin-bottom: 0;
	padding-bottom: 3vmin;
	/*background-color: #020220;*/
	background: linear-gradient(#121223,#121250);
	background: -moz-linear-gradient(#121223,#121250);
	background: -ms-linear-gradient(#121223,#121250);
	background: -webkit-linear-gradient(#121223,#121250);
	background: -o-linear-gradient(#121223,#121250);
}

#events h2{
    font-size: 4.5vmin;
	display: block;
	color: rgb(61, 61, 184);
	text-shadow: 1px 1px #c5b5b5;
	position: relative;
    text-align: center;
    padding-bottom: 2vmin;
    padding-top: 5vmin;
}

#events h2::after
{
	content: '';
	background: #007bff;
	display: block;
	height: 2px;
	width: 20vw;
	margin: 20px auto 5px;
	box-shadow: 1px 0.5vmin 1vmin white;
}

#comps p{
	font-size: 3vmin;
	text-align: justify;
	line-height: 5vmin;
    color: rgb(145, 145, 145);
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 7vmin;
}

#comps h3{
	color: #99caff;
	font-size: 3.5vmin;
}

#war p{
	font-size: 3vmin;
	text-align: justify;
	line-height: 5vmin;
    color: rgb(145, 145, 145);
    padding-right: 5vw;
    padding-bottom: 3vmin;
}

#pics{
	margin-top:5vmin;
}

#pics h2{
    font-size: 4vmin;
	display: block;
	color: rgb(83, 83, 219);
	text-shadow: 1px 1px #c5b5b5;
	position: relative;
	top: 15%;
    text-align: center;
    padding-bottom: 2vmin;
    padding-top: 7vmin;
}

#pics h2::after
{
	content: '';
	background: #007bff;
	display: block;
	height: 2px;
	width: 20vw;
	margin: 20px auto 5px;
	box-shadow: 1px 0.5vmin 1vmin white;
}

#pics h3{
	color: #55c;
	font-size: 4vmin;
}

#t2019{
	margin: 7vmin;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
}

#t2018{
	margin: 7vmin;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
}

#t2017{
	margin: 7vmin;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
}

#t2016{
	margin: 7vmin;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
}

#pics img{
	width:28vw;
	height:20vw;
	padding: 2vmin;
	flex-grow: 1;
	max-width: 40vw ;
	justify-items: center;
}

#soc{
	background: linear-gradient(rgb(41, 48, 148),rgb(0, 0, 68));
	background: -moz-linear-gradient(rgb(41, 48, 148),rgb(0, 0, 68));
	background: -ms-linear-gradient(rgb(41, 48, 148),rgb(0, 0, 68));
	background: -webkit-linear-gradient(rgb(41, 48, 148),rgb(0, 0, 68));
	background: -o-linear-gradient(rgb(41, 48, 148),rgb(0, 0, 68));
	height:10vmin;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
}

#soc a{
	text-decoration: none;
	color:#a7a7a7;
	font-size: 2vmin;
}